html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

@font-face { font-family: OpenSans; src: url(../fonts/OpenSans-Light.ttf); }
body { background: #f1f1f1; font-family: OpenSans; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.pop-up { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: fixed; background: rgba(255, 255, 255, 0.9); top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1000; display: none; }
.pop-up input { display: block; min-height: 60px; line-height: normal; width: 50%; max-width: none; min-width: 320px; border: none; border-bottom: 1px solid #3dc0f9; font-size: 35px; font-weight: 100; padding: 0 10px; text-align: center; outline: none; }

.left-menu { background: #fff; width: 300px; height: 100vh; box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1); }
.left-menu .left-menu-add { margin: 0 auto; cursor: pointer; color: #3dc0f9; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.left-menu .left-menu-add img { width: 80%; max-width: 80px; max-height: 80px; }
.left-menu .left-menu-add p { margin-left: 20px; padding-top: 5px; font-size: 20px; }
.left-menu .task-container { margin-top: 50px; }
.left-menu .task-container .task { background: #fff; height: 50px; line-height: 50px; font-size: 18px; padding: 0 20px; padding-right: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.2); -webkit-transition: 0.3s ease; transition: 0.3s ease; position: relative; overflow: hidden; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.left-menu .task-container .task:hover { border-bottom: 1px solid #3dc0f9; color: #3dc0f9; }
.left-menu .task-container .task:hover img { opacity: 1; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
.left-menu .task-container .task.active { padding-left: 40px; background: #3dc0f9; color: #fff; }
.left-menu .task-container .task.completed { background: #fff; color: #c7c7c7; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.left-menu .task-container .task.completed .line-throught { width: 90%; }
.left-menu .task-container .task.completed .task-complete { opacity: 0; visibility: hidden; }
.left-menu .task-container .task p { padding: 0; margin: 0; line-height: 50px; width: 100%; cursor: pointer; }
.left-menu .task-container .task .task-settings { width: 170px !important; }
.left-menu .task-container .task img { width: 30px; height: 30px; opacity: 0; padding: 10px; -webkit-transition: 0.3s ease; transition: 0.3s ease; -webkit-transform: translateX(100px); -ms-transform: translateX(100px); transform: translateX(100px); cursor: pointer; }
.left-menu .task-container .task .task-remove { -webkit-transition-delay: 0.1s; transition-delay: 0.1s; }
.left-menu .task-container .task .line-throught { position: absolute; top: 50%; left: 5%; height: 1px; width: 0; background: #c7c7c7; -webkit-transition: 0.5s ease; transition: 0.5s ease; pointer-events: none; }
.left-menu .task-container .sortable-ghost { background: rgba(0, 0, 0, 0.1); }

.main-cont { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; position: relative; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; display: table; width: calc(100% - 300px); height: 100vh; }
.main-cont .main-intro { display: table-cell; vertical-align: middle; text-align: center; font-size: 30px; opacity: 0.2; }
.main-cont .main-intro span { font-size: 50px; }
